.navbar {
  padding: 1rem;
  font-family: Arial, sans-serif;
  z-index: 1000;
}

.nav-a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a.active {
  color: #FFA500;
}

.marker {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #FFA500;
  transition: width 0.3s ease, transform 0.3s ease;
  transform-origin: left;
}

.login {
  transition: .3s;

}

.login:hover {
  scale: 1.1;
}