.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer Text */
.text-white {
    color: #fff;
}

.text-sm {
    font-size: 14px;
}

.text-teal-800 {
    color: #2d728f;
}

.text-teal-600 {
    color: #4cadc9;
}

/* Footer Links */
.footer-links {
    display: flex;
}

.footer-links a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #bbb;
}

/* Social Icons */
.social-icons {
    display: flex;
}

.social-icons li {
    list-style: none;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    color: #bbb;
}